.openPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    padding: 14px;
    margin-left: 18px;
    background: #1976d2;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &::before,
    &::after {
        position: absolute;

        display: block;
        width: 18px;
        height: 3px;

        content: '';

        background: white;
    }

    &::before {
        transform: rotate(90deg);
    }
}

.popup {
    position: fixed;
    z-index: 1300;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}